img {
  max-width: 100%;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
  }

  .avatar-size--small {
    width: 24px;
    height: 24px;
  }

  .avatar-size--medium {
    width: 32px;
    height: 32px;
  }

  .avatar-size--large {
    width: 56px;
    height: 56px;
  }

  .avatar-type--circle {
    overflow: hidden;
    border-radius: 50%;
  }

  .avatar-type--rounded {
    overflow: hidden;
    border-radius: 5px;
  }

  .avatar-initials {
    background-color: violet;
  }

  @keyframes shimmer {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
  }
    
  .avatar--loading {
    width: 100%;
    height: 100%;
    animation: shimmer 1.5s ease-in-out infinite;
    background-color: #ddd !important;
    cursor: progress;
  }